CONFIG_TARGET_ipq806x=y
CONFIG_TARGET_ipq806x_generic=y
CONFIG_TARGET_ipq806x_generic_DEVICE_linksys_ea7500-v1=y
#CONFIG_PACKAGE_6in4=y
#CONFIG_PACKAGE_ip6tables=y
#CONFIG_PACKAGE_ipv6helper=y
#CONFIG_PACKAGE_kmod-ipt-nat6=y
#CONFIG_PACKAGE_kmod-iptunnel=y
#CONFIG_PACKAGE_kmod-nf-nat6=y
#CONFIG_PACKAGE_kmod-sit=y
#CONFIG_PACKAGE_luci-proto-ipv6=y
# CONFIG_PACKAGE_kmod-shortcut-fe-drv is not set
# CONFIG_PACKAGE_luci-app-turboacc_INCLUDE_SHORTCUT_FE_DRV is not set
CONFIG_PACKAGE_luci-theme-argon=y
CONFIG_PACKAGE_luci-theme-netgear=y
#CONFIG_PACKAGE_odhcp6c=y
#CONFIG_PACKAGE_odhcp6c_ext_cer_id=0
#CONFIG_PACKAGE_odhcpd-ipv6only=y
#CONFIG_PACKAGE_odhcpd_ipv6only_ext_cer_id=0
